## 4. Tipos de Datos Complejos en Python

* Los tipos de datos complejos en Python son:


1. Conjuntos: Un conjunto es una **colección que no está ordenada ni indexada**. Se pueden modificar, pero no permiten valores duplicados
2. Tuplas: Una tupla representa una **colección de objetos ordenados e inmutables** (no puede ser modificado). Permiten duplicar elementos y están indexadas
3. Listas: Una lista contiene una **colección de objetos ordenados y alterables** (se pueden modificar). Permiten duplicar elementos y están indexados.
4. Diccionarios: Un diccionario es una **colección no ordenada indexada por una clave que hace referencia a un valor**. El valor se devuelve cuando se proporciona la clave. No se permiten claves duplicadas, pero sí valores. Se pueden modificar.

### Conjuntos: Colecciones no ordenadas y sin elementos repetidos

[Documentación oficial](https://docs.python.org/3/tutorial/datastructures.html#sets)

In [73]:
# Creamos un conjunto con 3 elementos
mi_conjunto = {1, 2, 3}
mi_conjunto

{1, 2, 3}

In [74]:
# Y comprobamos que no se permite incluir elementos repetidos!!
mi_conjunto = {1, 2, 3, 4, 4/2, 8/2}
mi_conjunto

{1, 2, 3, 4}

In [75]:
# conjunto de platos españoles
gastro = {'cocido madrileño', 'paella', 'gazpacho', 'jamón', 'fabada', 'tortilla de patatas'}

In [76]:
# Obtenemos un elemento y lo elimina del conjunto
print (gastro.pop())
print (gastro)

paella
{'fabada', 'cocido madrileño', 'tortilla de patatas', 'gazpacho', 'jamón'}

In [77]:
# Obtenemos un elemento del conjunto
print ('Elemento: ', next(iter(gastro)))
print (gastro)

Elemento:  fabada
{'fabada', 'cocido madrileño', 'tortilla de patatas', 'gazpacho', 'jamón'}

In [78]:
# Utilizando el iterador
iterador = iter(gastro)
print(next(iterador))

fabada

In [79]:
print(next(iterador))

cocido madrileño

In [80]:
type (iterador)

set_iterator

In [81]:
# Salida: cocido madrileño
print(next(iterador))
# Salida: paella
print(next(iterador))
# Salida: tortilla de patatas
print(next(iterador))
# Salida: jamón
print(next(iterador))
# Salida: gazpacho
print(next(iterador))
# Salida: fabada
print(next(iterador))

tortilla de patatas
gazpacho
jamón

StopIteration:

In [82]:
# Y si seguimos, obtenemos un error, ya que hemos acabado la lista iterable.
print(next(iterador))

StopIteration:

In [83]:
# Volvemos al conjunto
print (gastro)

{'fabada', 'cocido madrileño', 'tortilla de patatas', 'gazpacho', 'jamón'}

In [84]:
# En donde podemos añadir elementos, pero no repetidos
gastro.add('fabada')
gastro

{'cocido madrileño', 'fabada', 'gazpacho', 'jamón', 'tortilla de patatas'}

In [85]:
# En donde podemos añadir elementos, pero no repetidos
gastro.add('migas del pastor')
gastro

{'cocido madrileño',
 'fabada',
 'gazpacho',
 'jamón',
 'migas del pastor',
 'tortilla de patatas'}

In [86]:
# podemos eliminar un elemento
gastro.discard('paella')
gastro

{'cocido madrileño',
 'fabada',
 'gazpacho',
 'jamón',
 'migas del pastor',
 'tortilla de patatas'}

In [87]:
# También podemos comprobar si un elemento está en el conjunto o no
'gazpacho' in gastro

True

In [88]:
'fabada' in gastro

True

In [89]:
'ala' in gastro

False

In [90]:
# Podemos eliminar por completo un conjunto
# inicializamos con set
conjunto_eliminar = set(range(10))
conjunto_eliminar

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [91]:
# Y lo vaciamos
conjunto_eliminar.clear()
conjunto_eliminar

set()

In [92]:
# Podemos eliminar el conjunto sacando todos sus elementos
while (gastro):
    a = gastro.pop()
    print (a)
    
print(gastro)

fabada
cocido madrileño
tortilla de patatas
gazpacho
jamón
migas del pastor
set()

In [93]:
gastro

set()

In [94]:
# Los conjuntos no permiten elementos repetidos como hemos visto
compra = {'manzanas', 'naranjas', 'manzanas', 'pera', 'naranjas', 'plátanos'}
print(compra)

{'naranjas', 'pera', 'manzanas', 'plátanos'}

In [95]:
# Iteramos el conjunto con un for
for elemento in compra:
    print (elemento)

naranjas
pera
manzanas
plátanos

In [96]:
print ('manzanas' in compra)

True

In [97]:
# Ya hemos visto como añadir un elemento
compra.add('kiwis')
compra

{'kiwis', 'manzanas', 'naranjas', 'pera', 'plátanos'}

In [98]:
# Pero si queremos añadir varios elementos, deberemos utilizar update
compra.add ('leche', 'pan')

TypeError: set.add() takes exactly one argument (2 given)

In [99]:
compra.update(['mango', 'frambuesas', 'pan', 'leche'])
print (compra)

{'pan', 'pera', 'mango', 'naranjas', 'kiwis', 'manzanas', 'plátanos', 'leche', 'frambuesas'}

In [100]:
print (len(compra))

9

In [101]:
numeros = {1, 2, 3, 4, 5, 6}
print ('Max: ', max(numeros), 'Min', min(numeros))

Max:  6 Min 1

In [ ]:
# Eliminamos elementos
numeros.remove(6)
print ('Max: ', max(numeros), 'Min', min(numeros))

* Operaciones con conjuntos

In [1]:
# Operaciones con conjuntos
s1 = {'a', 'b', 'c', 'd', 1}
s2 = {1, 2, 3}

print ('Unión ', s1 | s2) 
print ('Intersección', s1 & s2)
print ('Diferencia', s1 - s2)
print ('Diferencia', s2 - s1)
print ('Diferencia simétrica', s1 ^ s2)

Unión  {1, 2, 3, 'd', 'c', 'b', 'a'}
Intersección {1}
Diferencia {'c', 'b', 'a', 'd'}
Diferencia {2, 3}
Diferencia simétrica {2, 3, 'd', 'c', 'b', 'a'}

### Tuplas: Almacena datos inmutables de tipos diferentes. No pueden ser modificados

[Documentación oficial](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences)

In [102]:
# Almacenamiento de distintos tipos
mi_tupla = ('cadena de texto', 15, 2.8, 'mas datos', 25)
mi_tupla

('cadena de texto', 15, 2.8, 'mas datos', 25)

In [103]:
# Acceso ordenado
mi_tupla[0]

'cadena de texto'

In [104]:
mi_tupla[1:4] # Elementos 1, 2 y 3

(15, 2.8, 'mas datos')

In [105]:
mi_tupla[3:] ## Desde el elemento 3 hasta el final

('mas datos', 25)

In [106]:
mi_tupla[:2] # Desde el principio hasta el elemento 2

('cadena de texto', 15)

In [107]:
mi_tupla[1]+mi_tupla[2]

17.8

In [108]:
print (mi_tupla[-1], ' y ', mi_tupla[-2])

25  y  mas datos

In [109]:
# RECORDAMOS QUE LAS TUPLAS SON INMUTABLES. 
# No podemos cambiar un valor de una tupa
print (mi_tupla[4])
mi_tupla[4] = 26

25

TypeError: 'tuple' object does not support item assignment

In [110]:
tupla1 = (1, 3, 5, 7)
print('tupla1[1:3]:\t', tupla1[1:3]) # Imprime los valores idx 1 y 2

tupla1[1:3]:	 (3, 5)

In [111]:
print('tupla1[:3]:\t', tupla1[:3]) # Imprime los valores idx 0, 1 y 2
print('tupla1[1:]:\t', tupla1[1:]) # Imprime los valores idx 1, 2, y 3

tupla1[:3]:	 (1, 3, 5)
tupla1[1:]:	 (3, 5, 7)

In [ ]:
print('tupla1[::-1]:\t', tupla1[:])

In [ ]:
print('tupla1[::-1]:\t', tupla1[::-1]) # Imprime toda la lista de valores al revés.

In [ ]:
tupla2 = ('manzana', 'pera', 'naranja', 'platano', 'manzana')
# Iteramos la tupla
for i in tupla2:
    print (i)

In [ ]:
print('len(tupla2):\t', len(tupla2)) # Número de elementos totales
print(tupla2.count('manzana')) # Número de elementos coincidentes
print(tupla2.index('pera')) # Posición que ocupa (empieza en 0!!!)

In [ ]:
if 'naranja' in tupla2:
    print('Naranja está en la tupla')

In [ ]:
# Rizando el rizo
tupla_x = ('x', 'y', 'z')
tupla_y = ('a', 'b', 'c')
tupla_z = ('Eva', 'Ana', 'Elvira')
tupla_xyz = (1, 18, tupla_x, 34, tupla_y, 'Benito', tupla_z, 'Segismundo', 19)
print (tupla_xyz)

### Listas: Permite acumular y manipular elementos de forma sencilla

[Documentación oficial](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists)

In [4]:
# Listas
mi_lista = [1, 2, 3, 4, 5]
mi_lista

[1, 2, 3, 4, 5]

In [5]:
# inclusión de elementos en la lista
mi_lista.append (6)
mi_lista.append (6)
mi_lista.append (6)

mi_lista

[1, 2, 3, 4, 5, 6, 6, 6]

In [ ]:
# Acceso preciso a los elementos de la lista
print ('Primer elemento: ', mi_lista[0])
print ('Tercer elemento: ', mi_lista[2])
print ('Penúltimo elemento: ', mi_lista [-2])
print ('Último elemento: ', mi_lista [-1]) 
print ('Todos los elementos de la lista menos el primero y el último: ', mi_lista[1:-1])

In [1]:
beatles = ['John', 'Paul', 'George', 'Ringo']
print('beatles[1]:', beatles[1])
print('beatles[-1]:', beatles[-1])
print('beatles[1:3]:', beatles[1:3])
print('beatles[:3]:', beatles[:3])
print('beatles[1:]:', beatles[1:])

beatles[1]: Paul
beatles[-1]: Ringo
beatles[1:3]: ['Paul', 'George']
beatles[:3]: ['John', 'Paul', 'George']
beatles[1:]: ['Paul', 'George', 'Ringo']

In [2]:
# Mas formas de añadir valores a una lista
beatles.extend(['a', 'b'])
print (beatles)

['John', 'Paul', 'George', 'Ringo', 'a', 'b']

In [ ]:
beatles

In [3]:
beatles += ['x', 'z']
print(beatles)

['John', 'Paul', 'George', 'Ringo', 'a', 'b', 'x', 'z']

In [4]:
# Podemos insertar en determinadas posiciones
beatles.insert(0, 'Comienza')
beatles

['Comienza', 'John', 'Paul', 'George', 'Ringo', 'a', 'b', 'x', 'z']

In [ ]:
beatles.insert(5, 'Por el medio')
beatles

In [ ]:
# Listas de distintos datos combinadas
mi_lista_loca = ['uno', 'dos', 'tres', 4, 5, 6.0]
mi_lista_loca

In [112]:
# Combinar listas
l1 = [1, 43.5, 'Raquel', 21, True]
l2 = ['manzana', 'naranja', 31]
lista_listas = ['juan', l1, l2, 'daniel']
print(lista_listas)

['juan', [1, 43.5, 'Raquel', 21, True], ['manzana', 'naranja', 31], 'daniel']

In [113]:
# podemos incluir elementos sumando dos listas
mi_lista_loca2 = mi_lista_loca[:3] + ['leche', 'pan', 'huevos', 2 * 2, 3 ** 3]
mi_lista_loca2

NameError: name 'mi_lista_loca' is not defined

In [ ]:
# obtener los elementos que queremos. 
mi_lista_loca[3:] # Desde el 3er elemento hasta el final

In [ ]:
# repetir la lista dos veces y añadir nuevos elementos
2 * mi_lista_loca[3:] + ['ay', 'mundo', 'cruel']

In [ ]:
# Y se puede modificar un elemento de la lista (no como en las tuplas, que daba error)
mi_lista_loca[5] = mi_lista_loca[5] * 5
mi_lista_loca

In [ ]:
mi_lista_loca[:2] = '' # Eliminamos los dos primeros elementos
mi_lista_loca

In [ ]:
# Volvemos sobre la lista inicial
print ('Mi lista tiene ', len(mi_lista) , ' elementos, que son: ', mi_lista)

In [ ]:
# Tambien podemos crear una lista de string
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
lista

In [ ]:
# y trabajar un poco sobre ella, adelantando contenido....
letra = str(input('Dime una letra: '))
if letra not in lista: # Se comprueba que un elemento NO ESTE en una lista
    print ('La letra ', letra, ' no está en la lista')
else:
    print ('La letra ', letra, ' si está en la lista')

In [6]:
# Ahora gastro ya es una lista, no un conjunto
gastro = ['cocido madrileño', 'paella', 'gazpacho', 'jamón', 'fabada', 'tortilla de patatas']
gastro

['cocido madrileño',
 'paella',
 'gazpacho',
 'jamón',
 'fabada',
 'tortilla de patatas']

In [7]:
comida_esp = set(gastro)
comida_esp

{'cocido madrileño',
 'fabada',
 'gazpacho',
 'jamón',
 'paella',
 'tortilla de patatas'}

In [8]:
'paella' in gastro

True

In [9]:
gastro.append('paella') # Ahora si nos permite datos repetidos
gastro

['cocido madrileño',
 'paella',
 'gazpacho',
 'jamón',
 'fabada',
 'tortilla de patatas',
 'paella']

In [ ]:
# Podemos iterar 
en_asturias = 'fabada' in comida_esp
print (en_asturias)

In [ ]:
# Consultamos indices
print (gastro.index('paella'))
print (gastro[3]) # El índice empieza por 0

In [ ]:
# Si no nos gusta el gazpacho, lo quitamos
gastro.remove('gazpacho')
gastro

In [ ]:
# Si no nos gusta el gazpacho, lo quitamos
gastro.remove('paella') # Solo elimina la primera ocurrencia
gastro

In [ ]:
# Y podemos borrar la lista
del gastro

### Diccionarios: Permite identificar sus elementos a través de una clave

[Documentación oficial](https://docs.python.org/3/tutorial/datastructures.html#dictionaries)

In [ ]:
# Estructura clave-valor
capitales = {'Espana': 'Madrid',
            'Inglaterra': 'Londres',
            'Francia': 'Paris',
            'Portugal': 'Lisboa'}
print(capitales)

In [ ]:
# Consultar valores
print (capitales['Espana'])
print (capitales.get('Francia'))

In [ ]:
# Añadir valores
capitales['Belgica'] = 'Bruselas'
capitales

In [ ]:
# Cambiando valores
capitales['Italia'] = 'Florencia' # Valor erróneo
capitales['Italia'] = 'Roma' # Valor OK
capitales

In [ ]:
# Borrando valores
del capitales['Inglaterra']
capitales

In [ ]:
# Iterando
for elementos in capitales:
    print (elementos, end = ', ')
    print (capitales[elementos])

In [ ]:
# Acceso a los elementos
print(capitales.values())
print(capitales.keys())
print(capitales.items())

In [ ]:
# Accesos por clave
print('Lisboa' in capitales)
print('Francia' not in capitales)
print ('Lisboa' not in capitales)
print ('Portugal' in capitales)

In [ ]:
#Estructura clave-valor
diccionario = {'nombre': 'juan', 'edad': 22, 'cursos': ['Python', 'Machine Learning', 'R']}
diccionario

In [ ]:
#Acceso por clave
print (diccionario['nombre'])
print (diccionario['edad'])
print (diccionario['cursos'])

In [ ]:
print (diccionario['cursos'][0])

In [ ]:
#podemos aadir una clave nueva
diccionario['direccion'] = 'Avenida de la Conchinchina, 1'
diccionario

In [ ]:
# y borrar con la misma facilidad
del(diccionario['direccion'])
diccionario

In [ ]:
# igual que las listas, podemos modificar valores
diccionario['nombre'] = 'Andres'
diccionario

In [ ]:
mi_diccionario = {'clave1': 'valor1', 'clave_2': 2, 'clave3': 3.33, (1,2):[5,6,7]}
mi_diccionario

In [ ]:
print (mi_diccionario[(1,2)])

---